{% if request.in_contest and request.participation.contest.logo_override_image
%}
<img
  loading="lazy"
  src="{{ request.participation.contest.logo_override_image|camo }}"
  alt="{{ SITE_NAME }}"
  height="44"
  class="m-1 border-none"
/>
{% elif logo_override_image is defined and logo_override_image %}
<img
  loading="lazy"
  src="{{ logo_override_image|camo }}"
  alt="{{ SITE_NAME }}"
  height="44"
  class="m-1 border-none"
/>
{% else %}
<img
  loading="lazy"
  src="{{ static('icons/logo-light.png') }}"
  alt="{{ SITE_NAME }}"
  height="48"
  class="m-1 border-none dark:hidden"
/>
<img
  loading="lazy"
  src="{{ static('icons/logo-dark.png') }}"
  alt="{{ SITE_NAME }}"
  height="48"
  class="hidden m-1 border-none dark:block"
/>
{% endif %}
